body {
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-board {
    background-color: #0c005a;
    height: 1000px;
    width: 1000px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    border: 7px solid #0c005a;
    border-radius: 20px;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr)
}

.snake {
    background-color: #be5252dc;
}

.food {
    background-color: #ff0000;
}

.reset {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #0c005a;
    box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;
    margin-top: 20px;
}

.reset:hover {
    box-shadow: 0 4px 2px -3px #ccc, 0 4px 5px 1px #ccc, 0 2px 7px 1px #ccc;
}

.points {
    font-size: 30px;
}